<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="reply">
    
    <!-- 댓글 입력 -->
    <insert id="insertReply">
        INSERT INTO tbl_reply (rno, bno, replytext, replyer)
        VALUES (reply_seq.NEXTVAL, #{bno}, #{replytext}, #{replyer})
    </insert>
    
    <!-- 댓글 목록 -->
    <select id="listReply" resultType="com.quocar.reply.vo.ReplyVO">
        SELECT rno, bno, replytext, replyer, user_name AS username, r.regdate, r.updatedate
        FROM tbl_reply r, quser m
        WHERE  r.replyer = m.userid AND bno=#{bno}
        ORDER BY rno
    </select>
    
     <!-- 3. 댓글 상세보기 -->
    <select id="detailReply" resultType="com.quocar.reply.vo.ReplyVO">
        SELECT rno, bno, replytext, replyer, regdate, updatedate
        FROM tbl_reply
        WHERE rno = #{rno}
    </select>
    
    <!-- 4. 댓글 수정 -->
    <select id="updateReply">
        UPDATE tbl_reply 
        SET replytext = #{replytext}
        WHERE rno = #{rno}
    </select>
    
    <!-- 5. 댓글 삭제 -->
    <delete id="deleteReply">
        DELETE FROM tbl_reply
        WHERE rno = #{rno}
    </delete>
    
</mapper>