<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">

 <insert id="insertUser">
    INSERT INTO QUSER (
      ID,
      NAME,
      USERID,
      USER_NAME,
      PASSWORD,
      GENDER,
      EMAIL,
      BIRTHDATE,
      CAR_MANUFACTURER,
      CAR_MODEL
    ) VALUES (
      (SELECT NVL(MAX(ID),0)+1 FROM QUSER ),
      #{name},
      #{userid},
      #{username},
      #{password},
      #{gender},
      #{email},
      #{birthdate},
      #{carManufacturer},
      #{carModel}
    )
  </insert>
 
<select id="loginCheck" resultType="String">
   SELECT ID, NAME, USERID, USER_NAME, PASSWORD, GENDER, EMAIL, BIRTHDATE, CAR_MANUFACTURER, CAR_MODEL
   FROM QUSER
   WHERE USERID = #{userid} AND PASSWORD = #{password}
</select>

<select id="viewUser" resultType="com.quocar.user.vo.UserVo">
   SELECT
       NAME AS name,
       USERID AS userid,
       USER_NAME AS username,
       PASSWORD AS password,
       GENDER AS gender,
       EMAIL AS email,
       BIRTHDATE AS birthdate,
       CAR_MANUFACTURER AS carManufacturer,
       CAR_MODEL AS carModel
   FROM QUSER
   WHERE USERID = #{userid} AND PASSWORD = #{password}
</select>

<!-- 현재 비밀번호 확인 -->
<select id="getPasswordByUserId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT PASSWORD 
    FROM QUSER 
    WHERE USERID = #{userid}
</select>

<!-- 사용자 정보 업데이트 -->
<update id="updateUserInfo" parameterType="com.quocar.user.vo.UserVo">
    UPDATE QUSER
    SET
        USER_NAME = #{username},
        PASSWORD = #{password},
        GENDER = #{gender},
        EMAIL = #{email},
        BIRTHDATE = #{birthdate},
        CAR_MANUFACTURER = #{carManufacturer},
        CAR_MODEL = #{carModel}
    WHERE USERID = #{userid}
</update>



     
</mapper>





   